<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <!-- สามารถเพิ่ม column อื่น ๆ ตามต้องการได้ -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="ro : ${Room}">
                <td th:text="${ro.RoomID}">ID</td>
                <td th:text="${ro.Type}">First Name</td>
                <!-- สามารถเพิ่ม column อื่น ๆ ตามต้องการได้ -->
            </tr>
        </tbody>
    </table>
</body>
</html>